<!DOCTYPE html>
<html>
<head>
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="navigationBar.css">
</head>

<!-- 
    Float    
        Create navigation
        Navigation should be implemented as unordered list
        Transform navigation using CSS to be in one line
        Navigation is floated to the right
        Width of navigation container is 960px

 -->
<body>
  
    <!-- Div element how present a whole page in screen -->

    <div class="page">

        <!-- Area how have all elements in page without footer -->

        <div class="items">

            <!-- Navigation bar with list elemnts -->

            <ul class="navigationList">
                <li class="navigationButton"><a href="#home">Blog</a></li>
                <li class="navigationButton"><a href="#news">Contact</a></li>
                <li class="navigationButton"><a href="#contact">About</a></li>
                <li class="navigationButton"><a href="#about">Home</a></li>
            </ul>

            <!-- Section with picture -->

            <div class="images">

                <img src="./Photo1.jpg" alt="Picture">

            </div>

            <!-- Section with div and paragraphs first row -->

            <div class="firstRow">

                <!-- First column in first row -->

                <div class="col">

                    <div class="div1">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

                <!-- Second column in first row -->

                <div class="col">

                    <div class="div2">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

                <!-- Third column in first row -->

                <div class="col">

                    <div class="unstandardColumn">
                        
                        <p class="unstandardText">Rebuilding slack.com</p><hr class="hr">
                       
                        <p class="unstandardText">Zasto bootcamp format?</p><hr class="hr">
                        
                        <p class="unstandardText">React - prozoru svet web <br> aplikacija</p><hr class="hr">
                        
                        <p class="unstandardText">Najvece zablude o <br> programerima u Srbiji</p><hr class="hr">
                    
                    </div>

                </div>


            </div>

            <div class="secondRow">

                <!-- First column in second row -->

                <div class="col">

                    <div class="div3">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

                <!-- Second column in second row -->

                <div class="col">

                    <div class="div4">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

                <!-- Third column in second row -->

                <div class="col">

                    <div class="div1">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

            </div>



            <div class="thirdRow">

                <!-- First column in third row -->

                <div class="col">

                    <div class="div2">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

                <!-- Second column in third row -->

                <div class="col">

                    <div class="div3">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

                <!-- Third column in third row -->

                <div class="col">

                    <div class="div4">
                        <p class="proba">300 x 200</p>
                    </div>

                    <p class="rowParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla ligula quis ipsum commodo, id euismod velit varius. Cras laoreet, arcu eget pharetra fringilla, neque libero imperdiet orci, luctus accumsan mi eros vel sapien. Sed pellentesque dui est.</p>

                </div>

            </div>


            

        </div>

        <div class="footer">

            <p class="footerText">&copy; BitStudent</p>

        </div>

    </div>
    
















</body>

</html>